<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update File name</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <h2>Update File Name</h2>
    <div class="main w-full min-h-screen p-10 text-white bg-zinc-900">
        <div class="form">
            <form action="/edit" method="post">
                <div class="mb-4 flex gap-10">
                    <label for="filename" class="block text-zinc-400">Old File Name:</label>
                    <input readonly id="filename" name="filename" type="text"
                        class="block w-1/4 px-5 py-2 rounded-md outline-none bg-zinc-700 text-zinc-400"
                        placeholder="Previous file name" value="<%= filename %>">
                </div>
                <div class="mb-4 flex gap-8">
                    <label for="new" class="block text-zinc-400">New File Name:</label>
                    <input id="new" name="new" type="text"
                        class="block w-1/4 px-5 py-2 rounded-md outline-none bg-zinc-700"
                        placeholder="New file name">
                </div>
                <input class="mt-2 bg-yellow-600 px-5 py-2 rounded-md" type="submit" value="Update Filename">
            </form>
        </div>
    </div>
</body>

</html>
